.main-footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
}

button {
    margin-left: 5px;
}

.table-actions {
    width: 150px;
}

.text-approved{
    color:rgb(148, 214, 16);
    font-weight: bold;
}
.text-inanalysis{
    color:rgb(207, 204, 5);
    font-weight: bold;
}
.text-repproved{
    color:rgb(233, 48, 16);
    font-weight: bold;
}